<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link href="../css/simple-sidebar.css" rel="stylesheet">
	<style>
		body 		{  word-wrap:break-word; }
	</style>
</head>
<body>
<div class="header">
	<div class="weblogo">
		<a href="/groups">ChatNow </a>|
		<span style="font-size:0.8em; line-height: 1em;"><i class="fa fa-comment"></i> <%=group.name %></span>
	</div>
</div>
<div>
	<div class="col-md-3 sidebar">
		<ul>
			<!-- <li><a href="/profile">Profile</a></li> -->
			<li><a href="/groups">Group List</a></li>
			<li>Chat Group</li>
			<ul>
				<% (user.groups).forEach(function(groupList){ %>
					<li class="<%if(groupList.groupId.toString() == group.id.toString()) { %>active<% }%>"><a href="/chat/<%=groupList.groupId%>"><%=groupList.groupName%></a></li>
				<% }) %>
			</ul>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>

	<div class="col-md-9 content space-top">
		<!-- <div class="text-center">
			<h1><span class="fa fa-anchor"></span> <%=group.name %></h1>
			<h2>Chatroom</h2>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div> -->

		<!-- <div class="head-chat">
			<i class="fa fa-comment"></i> <%=group.name %>
		</div>
		<hr> -->


		<div class="row">
			<ul id="messages">
				<% (group.messages).forEach(function(message, i){ %>
					<%if(message.messageOwnerId.toString() == user.id.toString()){ %>
						<li class="myMessage float-right"><div class="msgBody-right float-left"><b><%=message.message%></b></div><div class="msgOwner float-left"><%=message.messageOwnerName%></div></li>
						<div class="clear"></div>
					<%} else {%>
						<li class="float-left">
							<div class="float-left">
								<div class="msgOwner float-left"><%=message.messageOwnerName%></div>
								<div class="msgName"><%=message.messageOwnerName%></div>
							</div>
							<% if(i <= unread -1) {%>
								<div class="msgBody-left float-left"><b><%=message.message%></b></div>
							<%} else {%>
								<div class="msgBody-left-unread float-left"><b><%=message.message%></b></div>
							<%}%>
						</li>
						<div class="clear"></div>
					<% } %>
				<% }) %>	

				<!-- <div style="height: 7em;"></div> -->
			</ul>
			<div class="col-md-12 msgbox">
				<form action="/chat/<%=group.id %>" style="text-align:center;" id="submitMessage" method="POST">
					<input name="message" id="message" autocomplete="off" placeholder="Type your message here..." />
		      		<button type="submit" id="send" class="sendButton">&#8657;</button>
			      
			    </form>
			</div>
			

		</div>

		
	</div>

</div>

	


	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <script type="text/javascript">
    	var socket = io();
    	socket.emit('create', '<%=group.id %>');
    	var dataRead = {};
    	dataRead.userId = '<%=user.id%>';
    	dataRead.room = '<%=group.id %>';
    	dataRead.lastMsgIndex = '<%=group.messages.length %>';
    	socket.emit('read', dataRead);
    	$(".content").animate({ scrollTop: $('.content')[0].scrollHeight}, 500);
    	// socket.on(group.id, function(msg){
	    //     // var temp = msg['name'] + " : " + msg['msg'];
	    //     // if(msg['name']==user) {
	    //     //   $('#messages').append($('<li style="font-weight: bold">').text(temp));
	    //     //   console.log("hello");
	    //     // }else {
	    //       $('#messages').append($('<li>').text(msg.message));
	    //     // }
	        
	    //   });

    	$('form').submit(function(){

		  event.preventDefault();
    	  if($('#message').val().trim() !== '') {
    	  	  var msg = $('#message').val();
    	  	  $('#message').val('');
			  console.log("HERE !");
			  socket.emit('sendMessage', {
			    message: msg,
			    messageOwnerName: '<%=user.local.email%>',
			    messageOwnerId: '<%=user.id%>',
			    time: new Date(),
			    room: '<%=group.id %>'
			  });
		   }

		  
		});

		socket.on('callback', function(data) {
		  console.log(data.done);
		  // Print the data.data somewhere...
		});

		socket.on('recieve', function(data) {
		  // console.log(data);
		  data.userId = '<%=user.id %>';
		  socket.emit('read', data);
		  if(data.messageOwnerId.toString() == '<%=user.id.toString()%>') {
		  	var temp = "<li class='myMessage float-right'><div class='msgBody-right float-left'><b>" + data.message + "</b></div><div class='msgOwner float-left'>" + data.messageOwnerName + "</div> </li><div class='clear'></div>";
		  	$('#messages').append(temp);
		  } else {
		  	var temp = "<li class='float-left'><div class='msgOwner float-left'>" + data.messageOwnerName + "</div> <div class='msgBody-left float-left'><b>" + data.message + "</b></div></li><div class='clear'></div>";
		  	$('#messages').append(temp);
		  }
		  // var temp = "<b>" + data.messageOwnerName + "</b> " + data.message;
		  // $('#messages').append('<li>'+(temp)+'</li>');
		  
		  $(".content").animate({ scrollTop: $('.content')[0].scrollHeight}, 500);
		  // Print the data.data somewhere...
		});
    </script>
</body>
</html>