<!doctype html>
<html>
<head>
	<title>Groups List</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Groups List</h1>
		<!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addGroupModal">
		  New Group
		</button>
	</div>
	My Groups
	<div class="row">
		<table class="table">
			<tbody>
				<% (user.groups).forEach(function(group,i){ %>
					<tr>
						<td><a href="/chat/<%=group.groupId%>"><%= group.groupName %></a></td>
						<td><%= group.unseen %></td>
						<td><%= own[i] %></td>
						<td><a href="/leave/<%= group.groupId %>">Leave</a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	Other Groups
	<div class="row">
		<table class="table">
			<tbody>
				<% groups.forEach(function(group){ %>
					<tr>
						<td><%= group.name %></td>
						<td><%= group.creatorId %></td>
						<!-- <td><%= group.unseen %></td> -->
						<td><a href="/join/<%= group.id %>">Join</a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>

	

	<div class="text-center">
		<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
		<p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
	</div>

	<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Add Group</h4>
	      </div>
	      <div class="modal-body">
	      	<form method="POST" action="addGroup">
	      		<div class="form-group">
	      			<label>Group Name</label>
	      			<input name="groupName" class="form-control">
	      		</div>
	      		<button type="submit" class="btn btn-primary">Add Group</button>
	      	</form>
	      </div><!-- 
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><!-- 
	        <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div> -->
	    </div>
	  </div>
	</div>

</div>

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>

</html>